.container * {
  color: unset;
}

.container {
  background-color: var(--primary);
  color: white;
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  box-shadow: 0 2px 8px var(--shadow);
}